<!DOCTYPE html>
<html>
<head>
	<title>form</title>
</head>
<body>
<p>Add items</p>
<form method="POST" action="/save">
	<input type="text" name="item" required>
	<input type="submit" name="submit">
</form>
</body>
</html>